<a href="https://colab.research.google.com/github/eduardo0514/ComyProg2022G1157/blob/main/Fundamentos3_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase del 23 de noviembre de 2021

# Repetición:

Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientas ciertas condiciones s cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:

- Desde...hasta (estructura for)
- haz mientras (structura While)
- haz y luego validaz mientras( estructura Do-While)

# FOR con Python

```
for j in range(10):
    print(f"Hola { j }")
```

# FOR con leng C y/o Java

```
for( int j=0 ; j<10 ; j=j+1 ){
    printf("Hola %i \n", j );
}
```

En todos los lenguajes de programación existe un tipo especial de for, conocido como **for-each**

# For-each en Python

```
for color in colores:
    print(f"Este es el color { color}")    
```

In [2]:
# funcion range()
# range(<INICIO>,<STOP>,<INCREMENTO>)
x = range(0,10,2)
print(x)

for j in range(10): # range(0,10) --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-.-.-.-.-.")
for j in range(0,10,2): #range(0,10,2)  --> 0,2,4,6,8
    print(f"Hola { j }")

frutas = ["uva","aguacate","pera","manzana","sandia"]

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas---")
for index in range(5):
    print(frutas[index])

for index in range(5):
    print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
uva
aguacate
pera
manzana
sandia
---Frutas---
uva
aguacate
pera
manzana
sandia
+++++
+++++
+++++
+++++
+++++

# Clase del 25 de noviembre de 2021

In [1]:
for x in range(1, 20, 1):
    print(x)
print("Fin del programa")

for x in range(19,0,-1):
    print(x)
print("Fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Fin del programa

In [10]:
# EJEMPLO 3.3
CUECER = 0
NUM = 0
N = int(input("Un valor numerico mayor que 1: "))
for I in range(1, N + 1 , 1):
    N = int(input("Un valor numerico: "))
    if N == 0:
        CUECER += 1

print("CUECER=", CUECER)

Un valor numerico mayor que 1: 10
Un valor numerico: 30
Un valor numerico: 40
Un valor numerico: 50
Un valor numerico: 60
Un valor numerico: 70
Un valor numerico: 80
Un valor numerico: 3
Un valor numerico: 4
Un valor numerico: 5
Un valor numerico: 6
CUECER= 0

7 x 1 = 7

7 x 2 = 14

...

7 x 10 = 70

In [13]:
for x in range(1, 11,1): 
    print(f"7 * {x}=", 7*x )

7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
7 * 10= 70

¿Dame un numero entre 1 y 5?: 2

¿Dame un numero entre 2 y 10?: 6

In [14]:
N1 = int(input("dame un valor entre 1 y 5: "))
if N1 > 0 and N1 <= 5:
    N2 = int(input("Dame un valor entre 2 y 10: "))
    if N2 >= N1 and N2 <= 10:
        for i in range( N1, N2+1):
            for j in range(1,11):
                print(f"{i} x {j} = ", i*j)
            print("---------")
else: 
    print("Valor fuera de rango 1-5")

dame un valor entre 1 y 5: 4
Dame un valor entre 2 y 10: 6
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
4 x 10 =  40
---------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
---------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
---------

In [24]:
# generadores de listas
numeros = [0,0,0,0,0]
print(numeros)
numeros = [ 0 for x in range(5)]
print(numeros)
numeros = [ x for x in range(5)]
print(numeros)
numeros = [ (x+1)*10 for x in range(10)]
print(numeros)
numeros = [ x for x in range(10,101,10)]
print(numeros)
print(".-.-.-.-.-")
numeros = [ x*10 for x in range(1,11)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
.-.-.-.-.-
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [27]:
# ejercicios: calcular promedio de edades
edades = [0 for x in range(5)]
print(edades)

suma=0
edades=[0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: "))
    suma=suma+edades[x]
print(edades)
print("promedio: ", suma/5)

[0, 0, 0, 0, 0]
Dame una edad: 20
Dame una edad: 30
Dame una edad: 25
Dame una edad: 19
Dame una edad: 18
[20, 30, 25, 19, 18]
promedio:  22.4

In [37]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11), 2) for x in range(20)]
print(valores)

0.25192533684393537
9.0229529562278
10.1
[5.67, 7.96, 6.11, 5.7, 7.82, 6.45, 7.31, 8.23, 6.93, 7.07, 6.28, 9.23, 7.09, 7.65, 7.41, 7.58, 7.96, 5.13, 7.64, 9.69]