<a href="https://colab.research.google.com/github/eduardo0514/ComyProg2022G1157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clase del 4 de noviembre de 2021

# Tipos de datos estructurados de Python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos(opcional)

# Listas 

- Tipo de dato que agrupa variables o valores.
- Estrucutra secuencial (undexados empezando por 0) 
- Se declara de dos formas#
    - usando [ ]
    - usando list()
    - usando un generador
- Puede contener tipos de dato diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var for x in range ( 10 ) ] 
- al ser una clase contiene  muchos metodos útiles

In [ ]:
numeros = [10, 5,2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[ 4 ] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos

cosas = [12, 2, True , "José" , 1.57 , ["pera", "kiwi", "uva"] ]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
# 1.- 4 al 8???
print(numeros[3:8])
# 2: [9, 10]
print(numeros[8:10])
# 3.- imprimir la lista en orden inverso[11.10,9, etc., 1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros = [x*3 for x in range(101) ]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Función range()

tiene los mismos componentes que slicing

ini, stop, incremento

range(1,101,1)

In [ ]:
numeros = [x for x in range(50, 101, 2)]
print(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
# numeros.clear()
numeros = []
print(numeros)

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("numeros de veces que aparece el 15=" , numeros.count(15))

# extend

nombres = ["jose", "pedro", "karina"]
otrosnombres = ["josue", "diana", "dalia"]

print(nombres)
print(otrosnombres)
nombres = nombres + otrosnombres
print(nombres)
print(otrosnombres)

#lo mismo con el metodo extend
otrosnombres.extend(["jesus", "maria", "jose"])
print(otrosnombres)
print("jesus esta en la posicion:", otrosnombres.index("jesus"))
otrosnombres.insert(4, "espiritu santo")
print(otrosnombres)

#pop
resultado = otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numeros de veces que aparece el 15= 0
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria']
jose

# Clase del 9 de noviembre de 2021


# Tuplas

### Caracterisiricas de las tuplas 

- Datos agrupados.
- Se declara usando#
    - ()
    - Tuple()
- Estructura secuencial, indexada a partir de 0.
- Pueden tener de 0 a n elementos.
- NO SON MUTABLES (No se puede: Eliminar y/o cambiar)
- Son buenas para almacenar información.
- Pueden almacenar info. de diferentes tipos de dato.
- Pueden estar anidadas.
- Tienen métodos útiles

In [ ]:
info = ("juan23", "dios1234", "123.232.1.12")
print( info )
print( info[ 1 ] )
#info[ 1 ] = "patito23"

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print( numeros )
print(numeros[5:11])

cosas = (info , numeros )
print( cosas )
print( cosas[1][5:11:1] )
print( cosas[0][2][4:7] )
print( cosas[0][2][-8:-5] )

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# Metodos de las tuplas
Son los mismos de las listas pero los que no involucren mutabilidad.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionario 
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal.
- Se declara con:
    - {}
    - dict()
- Formado por pares del tipo llave: valor, donde:
    - Llave es de tipo string (siempre) 
    - valor puede ser de cualquier tipo de datos. incluyendo los diccionarios
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre" : "José"}
print(alumno)
print( alumno["nombre"])
alumno = {"nombre":"José", "nc":"2129229292", "edad": 18 }
print("Edad del alumno = ", alumno["edad"])
print(alumno["nombre"].upper())
print(alumno)

print("alumno2:")
alumno2 = dict()  # { }
alumno2["nombre"] = "José"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno =  18
JOSÉ
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
alumno2:
{'nombre': 'José'}
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
{'nombre': 'José', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = { "id":"CT2121",
           "nombre" : "José Pedroza Rosales" ,
           "telefono" : "casa=55445665 cel=0445567767" }

print(cliente)
cliente = { "id":"CT2121" ,
           "nombre" : {
               "nombres" : ["José", "Eduardo"] ,
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           } ,
           "telefonos" :{
               "casa" : "5566324234",
               "trabajo":"554433232" ,
               "celular":"04455234234"
           } ,
           "productos":{
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5 },
               "tarjetas": [
                           {"tipo":"debito", "saldo" : 10000.5 },
                           {"tipo":"credito preferente","limite" : 250000.5},
                           {"tipo":"lite" , "limite": 15000.5}
                ]
               },
              "direccion":{
                  "calle":"Av. Central",
                  "numero" : 1245,
                  "colonia" :"impulsora",
                  "delegación" : "neza",
                  "estado" : {
                              "clave" : 15,
                              "nombre_corto": "EdoMex",
                              "nombre": "Estado de México"
                  }
              }

          }
print( cliente["telefonos"]["casa"] )
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"] -= 1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'telefono': 'casa=55445665 cel=0445567767'}
5566324234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '5566324234', 'trabajo': '554433232', 'celular': '04455234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. Central', 'numero': 1245, 'colonia': 'impulsora', 'delegación': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

# Clase del 11 de Noviembre de 2021
# Estrucutura de control de programación

Se puede crear cualquier tipo de algoritmo empleado solamente 3 estructuras de control:

1. Secuencia:
    - La representación de la memoria de programa (Arquitectura Vonn Newman)
    
2. Selección:
    - Es la estructura de control que decide si un bloque de programa se ejecuta. También permite seleccionar ejecutar un bloque entre un conjunto de opciones. 
    En resumen tenemos: Selecion simple, seleccion con bifurcación y selección multiple.

3. Repetición:
    - Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estrucutura en todos os lenguajes de programación:
    - Desde...hasta (estrucutra for)
    - Haz mientras (strucutura While)
    - Haz y luego validez mientras (estructura Do-While)

# Selección simple

-- Docuemntar, o poner notas

la estrucutra if

```
if <condicion> :
    <cuerpo del IF>
```

## Nota Para establecer el cuerpo de una estrucutra 
En otros lenguajes de programación como java, c y C++... Se usan las llaves { }

```
int edad = 0
printf("Dame tu edad");
scanf("%i", &edad );
if(edad >= 18){
    printf("Eres mayor de edad");
}
printf("Fin de programa");
```

In [ ]:
edad = int( input("dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >= 18 : 
   print("Eres mayor de edad")
   print("algo")
print("Otra cosa")
print("Fin de programa")

dame tu edad: 18
Tecleaste 18 años
Eres mayor de edad
algo
Otra cosa
Fin de programa

In [ ]:
CAL = float( input("Dame tu calificación: "))
if CAL > 8 :
  print("aprobado")
print("fin del programa")

Dame tu calificación: 8.99
aprobado
fin del programa

In [ ]:
SUE = float(input("Dame tu sueldo: "))
AUM = 0
MSUE = 0

if  SUE < 1000 : 
  AUM = SUE*0.15
  MSUE = SUE + AUM
print(MSUE)

Dame tu sueldo: 999.99
1149.9885

# Clase del 18 de noviembre de 2021
# Estructura de selección con bifurcación (if-else)
Esta estrucutura, seleciona una de dos opciones de ejecución, se ejecuta un bloque si la condición se cumple o se ejecuta otro bloque si la condición no se cumple(else).
```

if <condición>: 
    <bloque de ejecución>
else:
    <bloque de ejecución alterno>

```

In [ ]:
edad = int(input("dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >= 18:
    print("Eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú Boing de mango" )
print("fin del programa")

dame tu edad: 15
Tecleaste 15 años
Eres menor de edad, ten tú Boing de mango
fin del programa

In [ ]:
edad = int(input("dame tu edad: "))
dinero = float(input("¿Cuanto dinero tienes?"))
print(f"Tecleaste {edad} años")
print(f"tecleaste {dinero} pesos")
if edad >= 18 and dinero >= 36:
    print("Eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú Boing de mango" )
print("fin del programa")

dame tu edad: 18
¿Cuanto dinero tienes?90
Tecleaste 18 años
tecleaste 90.0 pesos
Eres mayor de edad, ten tú cheve
fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 18
Cuanto dinero tienes: 50
Tecleaste 18 años
Tecleaste 50.0 dinero
Ten tu cheve

El condigo anterior se puede simplificar usando elif

In [ ]:
CAL = float(input("escribe tu calificación"))
if CAL >= 8:
    print(f"Estas aprobado")
    
else: 
    print("Estas reprobado")

escribe tu calificación7
Estas reprobado

In [ ]:
# Ejemplo 2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0
NSUE = 0

if SUE < 1000 : 
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(NSUE)
else:
    AUM = SUE* 0.12
    NSUE = SUE + AUM
print(NSUE)

Escribe el sueldo: 1000
1120.0

In [ ]:
# Problema 2.4
SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 900
Tu nuevo sueldo es: 1035.0

# Ejercicio  if-else
### Hacer un rpgrama que solicite el dia de la semana en un valor numerico entero del 1 al 7 (Avisarle al usuario si proporciono un valor fuera del rango)

### Posteriormente imprimira el dia de la semana correspondiente al numero capturado

1. lunes
2. martes
...
7. domingo

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("SÁBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 8
Debe ser un numero del 1 al 7, ingresa nuevamente

In [ ]:
dia = int ( input( "Ingresa un numero entre 1 y 7: " ))
print(f"capturaste el numero { dia }")

if dia >= 1 and dia <= 7 :
    if dia == 1:
        print("lunes")
    else:
        if dia == 2:
            print("Marte")
        else: 
            if dia == 3:
                print("Miércoles")
            else:
                if dia == 4:
                    print("Jueves")
                else: 
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("sábado")
                        else: 
                            print("domingo")
else: 
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7: 6
capturaste el numero 6
sábado

In [ ]:
# Hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente:

1. cual de ellos es el numero mayor
2. cual de ellso es el numero menor
 o en su defecto
Imprimir que valores son iguales

""" Hacer un programa que solicite 3 numeros enteros diferentes 
entre sí y que imprima cual de los 3 es el mayor
"""

"""
Hacer un programa que solicite 3 numeros enteros diferentes
entre sí y que imprima cual de los 3 es el menor
"""

"""
Hacer un programa que solicite 4 numeros enteros diferentes entre si
e imprima a la salida cual de ellos es el menor y cual de ellos es el mayor
"""

# Clase del 23 de noviembre de 2021
# Selección multiple (switch)
En python no existe la estrucuta de selección switch, en su lugar se emplea la palabra reservada:

## Elif <condición>:

Por ejemplo en el lenguaje C y Java sería de la forma:
```
Float SUE=0.0;
int CATE = 0;

printf("Introduce la categoria: ");
scanf("%i",&CATE);
printf("Introduce el sueldo: ");
scanf("%i",&SUE);

switch(CATE ){
    Case 1:
        SUE = SUE * 1.15;
        break;
    Case 2:
        SUE = SUE * 1.10;
        break;
    Case 3:
        SUE = SUE * 1.08;
        break;
    Case 4:
        SUE = SUE * 1.08;
        break;

}
printf("categoria= %i, Sueldo= %f",CATE, SUE)
```

In [ ]:
# Ejemplo 2.7

NUM = int(input("dame un numero un numero entre 1 y 3: "))
V = float(input("Dame un valor float: "))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2: 
    VAL = 100 ** V
elif NUM == 3:
    VAL = 100/VAL
else:
    Val = 0

print(VAL)

dame un numero un numero entre 1 y 3: 2
Dame un valor float: 5
10000000000.0

In [1]:
#Ejemplo 2.8

CATE = int(input("introduce la categoria: "))
SUE = float(input("introduce el sueldo: "))

if CATE == 1:
    SUE = SUE * 1.15;
elif CATE == 2:
    SUE = SUE * 1.10;
elif CATE == 3:
    SUE = SUE * 1.08;
elif CATE == 4:
    SUE = SUE * 1.07;

print(f"Categoria= { CATE }, Sueldo= { SUE }")

introduce la categoria: 1
introduce el sueldo: 1000
Categoria= 1, Sueldo= 1150.0

In [4]:
#ejemplo 2.12
A = int(input("Introduce un numero entero: "))
B = int(input("Introduce otro numero entero: "))
C = int(input("Introduce un ultimo numero entero: "))

if A > B:
    if A > C:
        if B > C:
            print(f"{ A }, { B }, { C }")
        else:  
            print(f"{ A }, { C }, { B }")
    else:
        print(f"{ C }, { A }, { B }")
else:
    if B > C:
        if A > C:
            print(f"{ B }, { A }, { C }")
        else: 
            print(f"{ B }, { C }, { A }")
    else:
        print(f"{ C }, { B }, { A }")

Introduce un numero entero: 5
Introduce otro numero entero: 2
Introduce un ultimo numero entero: 6
6, 5, 2

In [9]:
# Problema 2.14
TIPOENF = int(input("introduce el tipo de enfermedad: "))
EDAD = int(input("introduce la edad: "))
DIAS = int(input("Introduce el número de días: "))
COSTO = 0.0

if TIPOENF == 1:
    COSTO = DIAS * 25.0
elif TIPOENF == 2:
    COSTO = DIAS * 16.0
elif TIPOENF == 3:
    COSTO = DIAS * 20.0
elif TIPOENF == 4:
    COSTO = DIAS * 32.0

elif EDAD >= 14 and EDAD <= 22:
    COSTO = COSTO * 1.10

print("Costo total =$", COSTO)

introduce el tipo de enfermedad: 3
introduce la edad: 35
Introduce el número de días: 4
Costo total = $ 80.0

# Repetición:

Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientas ciertas condiciones s cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:

- Desde...hasta (estructura for)
- haz mientras (structura While)
- haz y luego validaz mientras( estructura Do-While)

# FOR con Python

```
for j in range(10):
    print(f"Hola { j }")
```

# FOR con leng C y/o Java

```
for( int j=0 ; j<10 ; j=j+1 ){
    printf("Hola %i \n", j );
}
```

En todos los lenguajes de programación existe un tipo especial de for, conocido como **for-each**

# For-each en Python

```
for color in colores:
    print(f"Este es el color { color}")    
```

In [24]:
# funcion range()
# range(<INICIO>,<STOP>,<INCREMENTO>)
x = range(0,10,2)
print(x)

for j in range(10): # range(0,10) --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-.-.-.-.-.")
for j in range(0,10,2): #range(0,10,2)  --> 0,2,4,6,8
    print(f"Hola { j }")

frutas = ["uva","aguacate","pera","manzana","sandia"]

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas---")
for index in range(5):
    print(frutas[index])

for index in range(5):
    print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
uva
aguacate
pera
manzana
sandia
---Frutas---
uva
aguacate
pera
manzana
sandia
+++++
+++++
+++++
+++++
+++++